<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item1</key>
	<dict>
		<key>name</key>
		<string>手机充值</string>
		<key>number</key>
		<string>1</string>
		<key>iconName</key>
		<string>me1</string>
	</dict>
	<key>item2</key>
	<dict>
		<key>name</key>
		<string>加油卡充值</string>
		<key>number</key>
		<string>2</string>
		<key>iconName</key>
		<string>me2</string>
	</dict>
	<key>item3</key>
	<dict>
		<key>name</key>
		<string>水费缴费</string>
		<key>number</key>
		<string>3</string>
		<key>iconName</key>
		<string>me3</string>
	</dict>
	<key>item4</key>
	<dict>
		<key>name</key>
		<string>电费缴费</string>
		<key>number</key>
		<string>4</string>
		<key>iconName</key>
		<string>me4</string>
	</dict>
	<key>item5</key>
	<dict>
		<key>name</key>
		<string>燃气缴费</string>
		<key>number</key>
		<string>5</string>
		<key>iconName</key>
		<string>me5</string>
	</dict>
	<key>item6</key>
	<dict>
		<key>name</key>
		<string>账户充值</string>
		<key>number</key>
		<string>6</string>
		<key>iconName</key>
		<string>me6</string>
	</dict>
	<key>item7</key>
	<dict>
		<key>name</key>
		<string>账户转账</string>
		<key>number</key>
		<string>7</string>
		<key>iconName</key>
		<string>me7</string>
	</dict>
	<key>item8</key>
	<dict>
		<key>name</key>
		<string>卡余额查询</string>
		<key>number</key>
		<string>8</string>
		<key>iconName</key>
		<string>me8</string>
	</dict>
	<key>item9</key>
	<dict>
		<key>name</key>
		<string>卡密码修改</string>
		<key>number</key>
		<string>9</string>
		<key>iconName</key>
		<string>me9</string>
	</dict>
	<key>item10</key>
	<dict>
		<key>name</key>
		<string>卡明细查询</string>
		<key>number</key>
		<string>10</string>
		<key>iconName</key>
		<string>me10</string>
	</dict>
	<key>item11</key>
	<dict>
		<key>name</key>
		<string>商户收藏</string>
		<key>number</key>
		<string>11</string>
		<key>iconName</key>
		<string>me11</string>
	</dict>
</dict>
</plist>
