<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>项目组</key>
	<array>
		<dict>
			<key>name</key>
			<string>秋小丢</string>
			<key>tel</key>
			<string>15038087361</string>
		</dict>
		<dict>
			<key>name</key>
			<string>夜烨</string>
			<key>tel</key>
			<string>15038087362</string>
		</dict>
		<dict>
			<key>name</key>
			<string>冷鼐</string>
			<key>tel</key>
			<string>15038087362</string>
		</dict>
	</array>
	<key>设计组</key>
	<array>
		<dict>
			<key>name</key>
			<string>林祖</string>
			<key>tel</key>
			<string>15038087363</string>
		</dict>
		<dict>
			<key>name</key>
			<string>吴越</string>
			<key>tel</key>
			<string>15038087364</string>
		</dict>
		<dict>
			<key>name</key>
			<string>小凡</string>
			<key>tel</key>
			<string>15038087366</string>
		</dict>
	</array>
	<key>测试组</key>
	<array>
		<dict>
			<key>name</key>
			<string>李凡</string>
			<key>tel</key>
			<string>15038087367</string>
		</dict>
		<dict>
			<key>name</key>
			<string>小猪</string>
			<key>tel</key>
			<string>15038087368</string>
		</dict>
		<dict>
			<key>name</key>
			<string>小猪不哭</string>
			<key>tel</key>
			<string>15038087369</string>
		</dict>
		<dict>
			<key>name</key>
			<string>婉儿</string>
			<key>tel</key>
			<string>15038087360</string>
		</dict>
	</array>
	<key>技术部</key>
	<array>
		<dict>
			<key>name</key>
			<string>张小丸</string>
			<key>tel</key>
			<string>15038087312</string>
		</dict>
		<dict>
			<key>name</key>
			<string>疯狗</string>
			<key>tel</key>
			<string>15038087361</string>
		</dict>
	</array>
</dict>
</plist>
