<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>timeoutInterval</key>
	<integer>14</integer>
	<key>url</key>
	<string>https://sbzw.sumpay.cn/</string>
	<key>signature</key>
	<string>9cWbNgUqiL91raHPVmrP</string>
</dict>
</plist>
