<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shopItems</key>
	<array>
		<dict>
			<key>name</key>
			<string>超市百货</string>
			<key>iconImage</key>
			<string>ch1</string>
		</dict>
		<dict>
			<key>iconImage</key>
			<string>ch2</string>
			<key>name</key>
			<string>便利连锁</string>
		</dict>
		<dict>
			<key>name</key>
			<string>餐饮美食</string>
			<key>iconImage</key>
			<string>ch3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>生活服务</string>
			<key>iconImage</key>
			<string>ch4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>休闲娱乐</string>
			<key>iconImage</key>
			<string>ch5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>健身美容</string>
			<key>iconImage</key>
			<string>ch6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>旅游酒店</string>
			<key>iconImage</key>
			<string>ch7</string>
		</dict>
		<dict>
			<key>name</key>
			<string>金融保险</string>
			<key>iconImage</key>
			<string>ch8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>服饰鞋包</string>
			<key>iconImage</key>
			<string>ch9</string>
		</dict>
		<dict>
			<key>name</key>
			<string>黄金珠宝</string>
			<key>iconImage</key>
			<string>ch10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>家电数码</string>
			<key>iconImage</key>
			<string>ch11</string>
		</dict>
		<dict>
			<key>name</key>
			<string>特色专卖</string>
			<key>iconImage</key>
			<string>ch12</string>
		</dict>
	</array>
</dict>
</plist>
